p, h1, h2, h3, h4, a {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 20%;
}

body {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#banner {
    background-image: url(../img/glr2.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
   align-items: center;
   background-position: center;
}

#logo {
    margin-top: 30%;
    width: 70%;
}

.some {
    width: 40%;
}

#flex1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#demo {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #323232;
}

#bannerDemo {
    background-image: url(../img/glr1.jpg);
    width: 100%;
    opacity: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 10% 70% 10%;
    align-items: center;
    background-position: center;
    font-size: 28px;
}

footer {
    background-color: black;
    text-align: left;
    padding: 1% 0 10% 5%;
}

#signUp {
    padding: 5% 5% 5% 5%;
    background-color: #454E56;
    color: white;
}

input[type=email] {
  width: 70%;
  padding: 5% 5%;
  margin: 5% 0;
  box-sizing: border-box;
  background-color: #454E56;
}

footer p, footer h2 {
    color: white;
}

footer h2 {
    padding-top: 8%;
}

footer p {
    font-weight: 300;
}

footer a {
    color: #4886EF;
}
