p, h1, h2, h3, h4, a {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    background-color: #2F2F2F;
    color: white;
    overflow-x: hidden;
}

#loader {
	position: fixed;
  left: 0px;
  top: 0px;
  padding: 50% 0 60% 0;
  width: 100%;
	z-index: 9999;
  background-color: #2F2F2F;
}

#banner {
    background-image: url(../img/glr2.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 8%;
   align-items: center;
   background-position: center;
}

#banner h1 {
  margin: 60px 0 0 0;
}

#logo {
    margin-top: 10%;
    width: 70%;
}

.some {
    width: 40%;
}

#songContent {
  padding: 10% 8% 8% 8%;
  background: url(../img/Golden-lady.png) no-repeat right;
  background-attachment: fixed;
}

#songContent h1 {
  margin: 0% 0 15% 0;
  font-size: 30pt;
}

#songContent h3, p {
  display: flex;
  justify-content: left;
  margin: 0 0 2% 0;
}

#songContent article {
  margin: 20% 0 10% 0;
}

#demos {
  padding: 10% 8% 8% 8%;
  background: url(../img/Golden-lady.png) no-repeat right;
  background-attachment: fixed;
}

#demos h1 {
  margin: 0% 0 15% 0;
  font-size: 30pt;
}

#demos h3, p {
  display: flex;
  justify-content: left;
  margin: 0 0 2% 0;
}

#demos article {
  margin: 20% 0 10% 0;
}

#searchFilteredSongs {
  padding: 10% 8% 8% 8%;
  background: url(../img/Golden-lady.png) no-repeat right;
  background-attachment: fixed;
}

#searchFilteredSongs h1 {
  margin: 0% 0 15% 0;
  font-size: 30pt;
}

#searchFilteredSongs h3, p {
  display: flex;
  justify-content: left;
  margin: 0 0 2% 0;
}

#searchFilteredSongs article {
  margin: 20% 0 10% 0;
}

#flex1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#showLess {
  display: none;
}

#showMore {
  display: block;
}


#demo {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #2F2F2F;
}

#bannerDemo {
    background-image: url(../img/glr1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 10% 30% 10%;
    align-items: center;
    background-position: center;
    font-size: 28px;
}

#bannerDemo img {
    width: 80%;
}

#bannerDemo a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

#bannerDemo p {
  font-weight: 200;
}

#yourEmail {
    border: 1px solid grey;
    padding: 5% 5% 5% 5%;
    outline: 0;
    background-color: #454E56;
}

#emailBtn {
    border: 1px solid grey;
    padding: 5.5% 5% 5.3% 5%;
    outline: 0;
    color: white;
    background-color: #454E56;
}

#closeSendDemo {
      border: 1px solid grey;
    border-radius: 10%;
    padding: 3% 3% 3% 3%;
    margin: 0% 0% 0% 30%;
    position: absolute;
    outline: 0;
    background-color: #454E56;
    color: white;
}

.demoBox {
      border: 1px solid grey;
    border-radius: 5px;
    padding: 5% 5% 5% 5%;
    outline: 0;
    background-color: #454E56;
}

.demoBtn {
    display: inline-block;
  width: 200px;
  padding: 8px;
  margin: 20px 0 0 0;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5%;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.showBtn {
    display: inline-block;
  width: 200px;
  padding: 8px;
  margin: 0 0 8% 20%;
  color: #fff;
  font-weight: 200;
  border: 2px solid #fff;
  border-radius: 5%;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.flexFilter {
  display: flex;
  flex-direction: column;
}

.flexFilterItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 7% 0% 7%;
}


#filterShowContent {
        border: 1px solid grey;
    border-radius: 5px;
    outline: 0;
    padding: 2.5% 2% 2.5% 2%;
    background-color: #2f2f2f;
}

#searchIcon {
  width: 20px;
  margin-top: 5%;
}

.releaseBtn {
  padding: 0 8% 0 8%;
  border-radius: 5%;
}

#searchBar {
  margin-top: 5%;
}

#myRange {
  width: 90%;
}

#sendDemo {
  background-color: #2F2F2F;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
}

footer {
    background-color: black;
    text-align: left;
    padding: 1% 0 10% 5%;
}

#signUp {
    padding: 5% 5% 5% 5%;
    background-color: #454E56;
    color: white;
}


input[type=email] {
  width: 70%;
  padding: 5% 5%;
  margin: 5% 0;
  box-sizing: border-box;
  background-color: #454E56;
  font-size: 1em;
  color: white;
}

#demoForm {
  color: white;
}
#demoForm h2{
  color: white;
  margin-top: 10%;
}

#helpBtn{
  color: white;
  font-size: 1em;
  position: absolute;
  margin: 7.5% 0 0 3%;
}
#sendBtn{
  color: white;
  font-size: 1em;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 3%;
}
.slidecontainer {
  margin-bottom: 10%;
  margin-top: 8%;
}

#demoForm input[type=email] {
  margin: 2.5% 0;
}

#demoForm input[type=text] {
  width: 70%;
  padding: 5% 5%;
  margin: 2.5% 0;
  box-sizing: border-box;
  background-color: #454E56;
  font-size: 1em;
  color: white; 
}
#genre {
  width: 70%;
  padding: 5% 5%;
  margin: 2.5% 0;
  box-sizing: border-box;
  background-color: #454E56;
  font-size: 1em; 
  color: white;
}

#filter h2 {
  margin: 4% 0 6% 0;
  color: white;
  font-size: 30pt;
  font-weight: 400;
}

.backbutton {
  margin-right: 80%;
  width: 10%;
  position: relative;
  
}

#closemenu {
    position: absolute;
    background-color: #ffffff;
    width: 9%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 2.5% 3.5% 2.5% 3.5%;
    margin: 2% 0 0 29%;
}

#closemenu img {
  width: 100%;
  margin-top: 7%;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 5% 5% 5% 5%;
    outline: 0;
    width: 70%;
    margin: 2.5% 0;
    box-sizing: border-box;
    background-color: #2f2f2f;
    font-size: 1em;
    color: white;
  }

footer p, footer h2 {
    color: white;
}

footer h2 {
    padding-top: 8%;
}

footer p {
    font-weight: 300;
}

footer a {
    color: #4886EF;
}

#filterDiv {
    display: none;
    background-color: #ffffff;
    width: 55px;
    height: 55px;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: fixed;
}

#filterDiv img {
    width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  background-color: #454E56;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#filter {
    z-index: 1;
    display: none;
    background-color: #3b3b3b;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Webkits */

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}

.mobilePrestitial__wrapper {
  display: none;
}
