p, h1, h2, h3, h4, a {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 20%;
}

body {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    background-color: #2F2F2F;
}

#banner {
    background-image: url(../img/glr2.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
   align-items: center;
   background-position: center;
}

#logo {
    margin-top: 30%;
    width: 70%;
}

.some {
    width: 40%;
}

#flex1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#demo {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #2F2F2F;
}

#bannerDemo {
    background-image: url(../img/glr1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17% 10% 30% 10%;
    align-items: center;
    background-position: center;
    font-size: 28px;
}

#bannerDemo img {
    width: 80%;
    background-position: center;
}

footer {
    background-color: black;
    text-align: left;
    padding: 1% 0 10% 5%;
}

#signUp {
    padding: 5% 5% 5% 5%;
    background-color: #454E56;
    color: white;
}

input[type=email] {
  width: 70%;
  padding: 5% 5%;
  margin: 5% 0;
  box-sizing: border-box;
  background-color: #454E56;
}

footer p, footer h2 {
    color: white;
}

footer h2 {
    padding-top: 8%;
}

footer p {
    font-weight: 300;
}

footer a {
    color: #4886EF;
}

#filterDiv {
    background-color: #ffffff;
    width: 65px;
    height: 65px;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: fixed;
}

#filterDiv img {
    width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#filter {
    display: none;
    background-color: #3b3b3b;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Webkits */

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
